body {
  background-color: white;
}

.hud p{
  font-size: 14px;
  padding:.5em;
  display: none;
}

.hud {
  height: 2em;
  text-align: center;
}

.form-group {
  max-width: 330px;
  padding: 15px;
  display: inline-block;
  vertical-align: top; 
  text-align: left; 
}

.form {
  margin: 0 auto;
  text-align: center;
}